<div style="height: 80vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row style="background-color: black;">
      <button mat-icon-button (click)="appDrawer.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <img class="img-fluid" src="./../assets/img/logo-single.png" alt="App Logo" />
      <span>Sistema de Gastos</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a href="#" mat-button  routerLink="/dashboard" >
          <mat-icon class="icon">home</mat-icon>
          <span class="label">Inicio </span>
        </a>
        <a mat-button [matMenuTriggerFor]="escenario">Escenario Electoral</a>
        <mat-menu #escenario="matMenu">
          <button mat-menu-item routerLink="/eventoEleccionario">Evento Eleccionario</button>
          <button mat-menu-item routerLink="/cargaEscenario">Carga Escenario Electoral</button>
          <button mat-menu-item routerLink="/verEscenario">Ver Escenario Electoral</button>
        </mat-menu>
        <a mat-button [matMenuTriggerFor]="mantenedores">Mantenedores</a>
        <mat-menu #mantenedores="matMenu">
            <button mat-menu-item routerLink="/candidato">Candidato</button>
          <button mat-menu-item routerLink="/administradorElectoral">Administrador Electoral</button>
          <button mat-menu-item routerLink="/partido">Partido</button>
        </mat-menu>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <!--<app-top-nav class="fixed-topnav" fxHide.gt-xs></app-top-nav>-->
  <mat-sidenav-container fxFlexFill style="height: 0px;margin: 0px;min-height: 100%;min-width: 100%;width: 0px;padding-top: 0px;">
    <mat-sidenav #appDrawer style="padding-top:0">
      <mat-nav-list>
        <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <!-- <app-top-nav fxHide.xs></app-top-nav>
     <mat-sidenav-content fxFlexFill></mat-sidenav-content>-->
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>